.header {
    display: block;    
    width: 100%;    
    padding: 10% 0 0 35%;
}

body {
    background-image: url(images/background.jpg);
}

.button-start {
    color: #fff;
    background-color: RGBA(255, 185, 50, 0.7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    margin-top: 60%;
}